<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-card-subtitle>Ingresa tus credenciales</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Nombre de Usuario" labelPlacement="stacked" maxlength="10" minlength="3" [(ngModel)]="user.usuario" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="stacked" pattern="^\d{4}$" inputmode="numeric" type="password" [(ngModel)]="user.password" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-button (click)="validarLogin()">Ingresar</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
