  <!-- Formulario para Pasajeros -->
  <form>
    <ion-item>
      <ion-input label="Direccion Particular" formControlName="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select>
        <ion-select-option value="1_pasajero">1</ion-select-option>
        <ion-select-option value="2_pasajero">2</ion-select-option>
        <ion-select-option value="3_pasajero">3</ion-select-option>
        <ion-select-option value="4_pasajero">4</ion-select-option>
      </ion-select>
    </ion-item>  
    
    <button mat-raised-button color="primary">Enviar</button>
  </form>