<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #titulo>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-card-title>Informacion Adicional {{user.usuario}}</ion-card-title>
    <ion-item>
      <ion-input #nombre_ label="Nombre" label-placement="fixed" [(ngModel)]="user.nombre" placeholder="Ingrese nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #apellido_ label="Apellido" label-placement="fixed" [(ngModel)]="user.apellido" placeholder="Ingrese apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #sede_ label="Sede" label-placement="fixed" [(ngModel)]="user.sede" placeholder="Ingrese sede"></ion-input>
      <ion-select label="Sede" formControlName="sede">
        <ion-select-option value="Antonio_Varas">Antonio Varas</ion-select-option>
        <ion-select-option value="Republica">República</ion-select-option>
        <ion-select-option value="Maipu">Maipú</ion-select-option>
       </ion-select>
    </ion-item>
    <ion-item>
      <ion-input #carrera_ label="Carrera" label-placement="fixed" [(ngModel)]="user.carrera" placeholder="Ingrese carrera"></ion-input>
    </ion-item>
    <ion-segment (ionChange)="onChangeSegment($event)" value="buttons">
      <ion-segment-button value="chofer">
        <ion-label>Chofer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pasajero">
        <ion-label>Pasajero</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-row>
      <ion-col>
        <ion-button (click)="limpiar()">Limpiar</ion-button>
        <ion-button (click)="presentAlert()">Mostrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <app-chofer *ngIf="segment === 'chofer'"></app-chofer>
  <app-pasajero *ngIf="segment === 'pasajero'"></app-chofer>
  <router-outlet></router-outlet>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="irAHome()" tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="map">
          <ion-icon name="globe-outline"></ion-icon>
          Mapa
        </ion-tab-button>
        <ion-tab-button disabled tab="profile">
          <ion-icon name="person-outline"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>