<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #titulo>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-card-content>
    <ion-card-title>Informacion basica</ion-card-title>
    <ion-item>
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input [(ngModel)]="userData.nombre" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Apellido</ion-label>
      <ion-input [(ngModel)]="userData.apellido" placeholder="Apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Carrera</ion-label>
      <ion-input [(ngModel)]="userData.carrera" placeholder="Carrera"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sede</ion-label>
      <ion-select [(ngModel)]="userData.sedeId">
        <ion-select-option *ngFor="let sede of sedes | async" [value]="sede.id">{{ sede.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="saveUserData()">Confirmar datos de usuario</ion-button>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)" value="buttons">
      <ion-segment-button value="chofer">
        <ion-label>Chofer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pasajero">
        <ion-label>Pasajero</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- Sección Chofer -->
    <app-chofer *ngIf="selectedSegment === 'chofer'" 
                [choferData]="choferData"
                (saveChoferData)="guardarDatosChofer($event)">
    </app-chofer>
    <!-- Sección Pasajero -->
    <app-pasajero *ngIf="selectedSegment === 'pasajero'" 
                  [pasajeroData]="pasajeroData"
                  (savePasajeroData)="guardarDatosPasajero($event)">
    </app-pasajero> 
  </ion-card-content>
</ion-content>

<ion-content *ngIf="loading">
  <ion-spinner name="crescent"></ion-spinner>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="irAHome()">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="trip">
          <ion-icon name="send-outline"></ion-icon>
          Viajes
        </ion-tab-button>
        <ion-tab-button disabled tab="profile">
          <ion-icon name="person-outline"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>