<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #titulo>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="menu-trigger" (click)="openMenu($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Usuario {{user.nombre}}</ion-card-subtitle>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
        <ion-label>Necesitas solicitar un viaje?</ion-label>
      </ion-row>
      <ion-row>
        <ion-button (click)="cambiarEstado()">{{ solicitud ? 'Cancelar' : 'Pedir Viaje' }}</ion-button>
      </ion-row>
      

      
      <ion-card *ngIf="solicitud === true">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Punto de partida</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-input label="Direccion" label-placement="fixed" [(ngModel)]="user.direccion"></ion-input>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Punto de destino</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-select label="Sede" [(ngModel)]="user.sede">
              <ion-select-option *ngFor="let sede of sedes" value="{{sede.nombre}}">{{sede.nombre}}</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>
        <ion-button>Solicitar</ion-button>
      </ion-card>
      
      
    </ion-card-content>
    
  </ion-card>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button disabled tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="trip">
          <ion-icon name="send-outline"></ion-icon>
          Viajes
        </ion-tab-button>
        <ion-tab-button (click)="irAPerfil()">
          <ion-icon name="person-outline"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
