<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #titulo>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Usuario {{user.nombre}}</ion-card-subtitle>
      <ion-card-title>Bienvenido a TeLlevoApp</ion-card-title>
    </ion-card-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Qué rol deseas desempeñar?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group [(ngModel)]="rol" name="rol">
          <ion-item>
            <ion-label>Chofer</ion-label>
            <ion-radio slot="start" value="chofer"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pasajero</ion-label>
            <ion-radio slot="start" value="pasajero"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-button expand="block" (click)="continuar()">Continuar</ion-button>
      </ion-card-content>
    </ion-card>
    
  </ion-card>


</ion-content>


<app-footer></app-footer>
