<ion-header>
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Carrera</ion-label>
    <ion-input [(ngModel)]="carrera" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sede</ion-label>
    <ion-select [(ngModel)]="sedeId">
      <ion-select-option *ngFor="let sede of sedes | async" [value]="sede.id">{{ sede.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="register()">Registrar</ion-button>
</ion-content>
