<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Chofer o Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="button-group">
    <button mat-button color="primary" (click)="mostrarFormulario('chofer')">Chofer</button>
    <button mat-button color="accent" (click)="mostrarFormulario('pasajero')">Pasajero</button>
  </div>

  <!-- Formulario para Chofer -->
  <form *ngIf="formularioVisible === 'chofer'">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sede</mat-label>
      <mat-select>
       <mat-option value="1_sede">Antonio Varas</mat-option>
       <mat-option value="2_sede">República</mat-option>
       <mat-option value="3_sede">Maipú</mat-option>
  </mat-select>
     </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Carrera</mat-label>
      <input matInput formControlName="carrera">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Patente</mat-label>
      <input matInput formControlName="patente">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Asientos Disponible</mat-label>
      <mat-select>
        <mat-option value="1_asiento">1</mat-option>
        <mat-option value="2_asiento">2</mat-option>
        <mat-option value="3_asiento">3</mat-option>
        <mat-option value="4_asiento">4</mat-option>
        <mat-option value="5_asiento">5</mat-option>
        <mat-option value="6_asiento">6</mat-option>
   </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="enviarChofer()">Enviar</button>
  </form>

  <!-- Formulario para Pasajeros -->
  <form *ngIf="formularioVisible === 'pasajero'" >
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sede</mat-label>
      <mat-select>
        <mat-option value="1_sede">Antonio Varas</mat-option>
        <mat-option value="2_sede">República</mat-option>
        <mat-option value="3_sede">Maipú</mat-option>
   </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Carrera</mat-label>
      <input matInput formControlName="carrera">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Dirección Particular</mat-label>
      <input matInput formControlName="direccion">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cantidad de Pasajeros</mat-label>
      <mat-select>
        <mat-option value="1_pasajero">1</mat-option>
        <mat-option value="2_pasajero">2</mat-option>
        <mat-option value="3_pasajero">3</mat-option>
        <mat-option value="4_pasajero">4</mat-option>
        <mat-option value="5_pasajero">5</mat-option>
        <mat-option value="6_pasajero">6</mat-option>
   </mat-select>
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="enviarPasajero()">Enviar</button>
  </form>
</ion-content>